sounddevice
opencv-python
pyaudio
moviepy
numpy
torch
torchvision
torchaudio
transformers
cmasher
einops
essentia
matplotlib
tqdm
tensorflow
scipy
scikit-learn
eva-decord
omegaconf==2.0.6
av==10.0
timm==0.6.12
Pillow==9.2.0
